<!DOCTYPE html>
<html lang="en">

{% extends 'blog_base.html' %}

{% block judul %}Profil Stasiun Geofisika Ternate {% endblock %}
{% block blog_content %} 
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <ol>
        </ol>
        <h2>Profil</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Blog Single Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-8 entries">

            <div class="entry-img">
              <img src="/static/assets/img/kantor-bg-min_new_low.jpg" alt="" class="img-fluid">
            </div>
            <article class="entry entry-single">

              <h2 class="entry-title">
                <a href="#">Profil Stasiun Geofisika Ternate</a>
              </h2>
              <div class="entry-content">
                <p>
                  &emsp;&emsp;Stasiun Geofisika Kelas III Ternate merupakan salah satu UPT
                  BMKG yang terletak di Kota Ternate. Stasiun Geofisika Kelas III Ternate bertanggung jawab terhadap informasi
                  gempabumi, listrik udara, dan tanda waktu di Wilayah Maluku Utara. Stasiun Geofisika Kelas III Ternate merupakan
                  satu-satunya Stasiun Geofisika yang terdapat di 
                  provinsi Maluku Utara dan merupakan Unit Pelaksana Teknis (UPT) yang bertanggung jawab langsung kepada 
                  Kepala Badan Meteorologi, Klimatologi dan Geofisika. 
                </p>

                <p>
                  &emsp;&emsp;Stasiun Geofisika Ternate sebagai bagian dari struktur BMKG, yang merupakan UPT (Unit Pelaksana Teknis) 
                  yang berkewajiban menganalisa gempabumi lokal di wilayah Provinsi Maluku Utara berkoordinasi dengan PGR X 
                  (Pusat Gempabumi Regional X) Manado, PGR IX Ambon dan PGN (Pusat Gempabumi Nasional) Jakarta. 
                </p>

                

              </div>

              

            </article><!-- End blog entry -->

            

          </div><!-- End blog entries list -->

          {% block sidebar %} 
          <div class="col-lg-4">

            <div class="sidebar">
              <h3 class="sidebar-title">Berita Terkini</h3>
              <div class="sidebar-item recent-posts">
                {% for berita in listberita %}
                <div class="post-item clearfix">
                  <img src="/static/upload/{{berita.6}}" alt="">
                  <h4><a href="/berita/{{berita.3}}">{{berita.2}}</a></h4>
                  <time>{{berita.1}}</time>
                </div>
                {% endfor %}

                

              </div><!-- End sidebar recent posts-->

              

            </div><!-- End sidebar -->

          </div><!-- End blog sidebar -->
          {% endblock %}

        </div>

      </div>
    </section><!-- End Blog Single Section -->

  </main><!-- End #main -->

  {% endblock %}

  

</html>